mixin main()
    main.main#main
        .container.main-con 
            .main-path
                
            .main-left 
                .main__exchanges 
                    .main__exchanges-title Курсы вальют 
                    hr 
                    .main__exchanges-con
                        .main__exchanges-side
                            .main__exchanges-side__row
                                .main__exchanges-side__col-first Валюта
                                .main__exchanges-side__col-first Курс ЦБ РУз
                            .main__exchanges-side__row
                                .main__exchanges-side__col 
                                    img(src="@img/uz.png")
                                .main__exchanges-side__col USD
                                .main__exchanges-side__col 11000
                                .main__exchanges-side__col.stat -24
                            .main__exchanges-side__row
                                .main__exchanges-side__col 
                                    img(src="@img/uz.png")
                                .main__exchanges-side__col USD
                                .main__exchanges-side__col 11000
                                .main__exchanges-side__col.stat +24
                            .main__exchanges-side__row
                                .main__exchanges-side__col 
                                    img(src="@img/uz.png")
                                .main__exchanges-side__col USD
                                .main__exchanges-side__col 11000
                                .main__exchanges-side__col.stat +24
                            .main__exchanges-side__row
                                .main__exchanges-side__col 
                                    img(src="@img/uz.png")
                                .main__exchanges-side__col USD
                                .main__exchanges-side__col 11000
                                .main__exchanges-side__col.stat +24
                            .main__exchanges-side__row
                                .main__exchanges-side__col 
                                    img(src="@img/uz.png")
                                .main__exchanges-side__col USD
                                .main__exchanges-side__col 11000
                                .main__exchanges-side__col.stat +24
                            .main__exchanges-side__row
                                .main__exchanges-side__col 
                                    img(src="@img/uz.png")
                                .main__exchanges-side__col USD
                                .main__exchanges-side__col 11000
                                .main__exchanges-side__col.stat +24
                            .main__exchanges-side__row
                                .main__exchanges-side__col 
                                    img(src="@img/uz.png")
                                .main__exchanges-side__col USD
                                .main__exchanges-side__col 11000
                                .main__exchanges-side__col.stat +24
                        .main__exchanges-side
                            .main__exchanges-side__row
                                .main__exchanges-side__col-first Валюта
                                .main__exchanges-side__col-first Курс ЦБ РУз
                            .main__exchanges-side__row
                                .main__exchanges-side__col 
                                    img(src="@img/uz.png")
                                .main__exchanges-side__col USD
                                .main__exchanges-side__col 11000
                                .main__exchanges-side__col.stat -24
                            .main__exchanges-side__row
                                .main__exchanges-side__col 
                                    img(src="@img/uz.png")
                                .main__exchanges-side__col USD
                                .main__exchanges-side__col 11000
                                .main__exchanges-side__col.stat +24
                            .main__exchanges-side__row
                                .main__exchanges-side__col 
                                    img(src="@img/uz.png")
                                .main__exchanges-side__col USD
                                .main__exchanges-side__col 11000
                                .main__exchanges-side__col.stat +24
                            .main__exchanges-side__row
                                .main__exchanges-side__col 
                                    img(src="@img/uz.png")
                                .main__exchanges-side__col USD
                                .main__exchanges-side__col 11000
                                .main__exchanges-side__col.stat +24
                            .main__exchanges-side__row
                                .main__exchanges-side__col 
                                    img(src="@img/uz.png")
                                .main__exchanges-side__col USD
                                .main__exchanges-side__col 11000
                                .main__exchanges-side__col.stat +24
                            .main__exchanges-side__row
                                .main__exchanges-side__col 
                                    img(src="@img/uz.png")
                                .main__exchanges-side__col USD
                                .main__exchanges-side__col 11000
                                .main__exchanges-side__col.stat +24
                            .main__exchanges-side__row
                                .main__exchanges-side__col 
                                    img(src="@img/uz.png")
                                .main__exchanges-side__col USD
                                .main__exchanges-side__col 11000
                                .main__exchanges-side__col.stat +24
                .main__offer
                    h1.main__offer-title Лучшие курсы обмена валют в обменных пунктах
                    .main__offer-btn
                        ul
                            li
                                //- berilgan slide number keraklik slideni chaqiradi
                                a(slide-number="1").active UZS
                            li
                                a(slide-number="2") RUB
                            li
                                a(slide-number="3") USD
                            li
                                a(slide-number="4") KZT
                            li
                                a(slide-number="5") GBP
                    .main__offer-con__padding
                        .main__offer-con.active(slide-number="1")
                            .main__offer-side
                                .main__offer-side__title Покупка
                                hr
                                .main__offer-side__box
                                    a(href="#") Kapital bank
                                    p 22 сум
                                .main__offer-side__box
                                    a(href="#") Kapital bank
                                    p 22 сум
                                .main__offer-side__box
                                    a(href="#") Kapital bank
                                    p 22 сум
                                .main__offer-side__box
                                    a(href="#") Kapital bank
                                    p 22 сум
                                .main__offer-side__box
                                    a(href="#") Kapital bank
                                    p 22 сум
                                .main__offer-side__box
                                    a(href="#") Kapital bank
                                    p 22 сум
                                .main__offer-side__box
                                    a(href="#") Kapital bank
                                    p 22 сум
                                .main__offer-side__box
                                    a(href="#") Kapital bank
                                    p 22 сум
                                .main__offer-side__box
                                    a(href="#") Kapital bank
                                    p 22 сум
                            .main__offer-side
                                .main__offer-side__title Продажа
                                hr
                                .main__offer-side__box
                                    a(href="#") Kapital bank
                                    p 22 сум
                                .main__offer-side__box
                                    a(href="#") Kapital bank
                                    p 22 сум
                                .main__offer-side__box
                                    a(href="#") Kapital bank
                                    p 22 сум
                                .main__offer-side__box
                                    a(href="#") Kapital bank
                                    p 22 сум
                                .main__offer-side__box
                                    a(href="#") Kapital bank
                                    p 22 сум
                                .main__offer-side__box
                                    a(href="#") Kapital bank
                                    p 22 сум
                                .main__offer-side__box
                                    a(href="#") Kapital bank
                                    p 22 сум
                                .main__offer-side__box
                                    a(href="#") Kapital bank
                                    p 22 сум
                                .main__offer-side__box
                                    a(href="#") Kapital bank
                                    p 22 сум
                        .main__offer-con(slide-number="2")
                            .main__offer-side
                                .main__offer-side__title Покупка
                                hr
                                .main__offer-side__box
                                    a(href="#") Kapital bank
                                    p 22 сум
                                .main__offer-side__box
                                    a(href="#") Kapital bank
                                    p 22 сум
                                .main__offer-side__box
                                    a(href="#") Kapital bank
                                    p 22 сум
                                .main__offer-side__box
                                    a(href="#") Kapital bank
                                    p 22 сум
                                .main__offer-side__box
                                    a(href="#") Kapital bank
                                    p 22 сум
                                .main__offer-side__box
                                    a(href="#") Kapital bank
                                    p 22 сум
                                .main__offer-side__box
                                    a(href="#") Kapital bank
                                    p 22 сум
                                .main__offer-side__box
                                    a(href="#") Kapital bank
                                    p 22 сум
                                .main__offer-side__box
                                    a(href="#") Kapital bank
                                    p 22 сум
                            .main__offer-side
                                .main__offer-side__title Продажа
                                hr
                                .main__offer-side__box
                                    a(href="#") Kapital bank
                                    p 22 сум
                                .main__offer-side__box
                                    a(href="#") Kapital bank
                                    p 22 сум
                                .main__offer-side__box
                                    a(href="#") Kapital bank
                                    p 22 сум
                                .main__offer-side__box
                                    a(href="#") Kapital bank
                                    p 22 сум
                                .main__offer-side__box
                                    a(href="#") Kapital bank
                                    p 22 сум
                                .main__offer-side__box
                                    a(href="#") Kapital bank
                                    p 22 сум
                                .main__offer-side__box
                                    a(href="#") Kapital bank
                                    p 22 сум
                                .main__offer-side__box
                                    a(href="#") Kapital bank
                                    p 22 сум
                                .main__offer-side__box
                                    a(href="#") Kapital bank
                                    p 22 сум
                        .main__offer-con(slide-number="3")
                            .main__offer-side
                                .main__offer-side__title Покупка
                                hr
                                .main__offer-side__box
                                    a(href="#") Kapital bank
                                    p 22 сум
                                .main__offer-side__box
                                    a(href="#") Kapital bank
                                    p 22 сум
                                .main__offer-side__box
                                    a(href="#") Kapital bank
                                    p 22 сум
                                .main__offer-side__box
                                    a(href="#") Kapital bank
                                    p 22 сум
                                .main__offer-side__box
                                    a(href="#") Kapital bank
                                    p 22 сум
                                .main__offer-side__box
                                    a(href="#") Kapital bank
                                    p 22 сум
                                .main__offer-side__box
                                    a(href="#") Kapital bank
                                    p 22 сум
                                .main__offer-side__box
                                    a(href="#") Kapital bank
                                    p 22 сум
                                .main__offer-side__box
                                    a(href="#") Kapital bank
                                    p 22 сум
                            .main__offer-side
                                .main__offer-side__title Продажа
                                hr
                                .main__offer-side__box
                                    a(href="#") Kapital bank
                                    p 22 сум
                                .main__offer-side__box
                                    a(href="#") Kapital bank
                                    p 22 сум
                                .main__offer-side__box
                                    a(href="#") Kapital bank
                                    p 22 сум
                                .main__offer-side__box
                                    a(href="#") Kapital bank
                                    p 22 сум
                                .main__offer-side__box
                                    a(href="#") Kapital bank
                                    p 22 сум
                                .main__offer-side__box
                                    a(href="#") Kapital bank
                                    p 22 сум
                                .main__offer-side__box
                                    a(href="#") Kapital bank
                                    p 22 сум
                                .main__offer-side__box
                                    a(href="#") Kapital bank
                                    p 22 сум
                                .main__offer-side__box
                                    a(href="#") Kapital bank
                                    p 22 сум
                        .main__offer-con(slide-number="4")
                            .main__offer-side
                                .main__offer-side__title Покупка
                                hr
                                .main__offer-side__box
                                    a(href="#") Kapital bank
                                    p 22 сум
                                .main__offer-side__box
                                    a(href="#") Kapital bank
                                    p 22 сум
                                .main__offer-side__box
                                    a(href="#") Kapital bank
                                    p 22 сум
                                .main__offer-side__box
                                    a(href="#") Kapital bank
                                    p 22 сум
                                .main__offer-side__box
                                    a(href="#") Kapital bank
                                    p 22 сум
                                .main__offer-side__box
                                    a(href="#") Kapital bank
                                    p 22 сум
                                .main__offer-side__box
                                    a(href="#") Kapital bank
                                    p 22 сум
                                .main__offer-side__box
                                    a(href="#") Kapital bank
                                    p 22 сум
                                .main__offer-side__box
                                    a(href="#") Kapital bank
                                    p 22 сум
                            .main__offer-side
                                .main__offer-side__title Продажа
                                hr
                                .main__offer-side__box
                                    a(href="#") Kapital bank
                                    p 22 сум
                                .main__offer-side__box
                                    a(href="#") Kapital bank
                                    p 22 сум
                                .main__offer-side__box
                                    a(href="#") Kapital bank
                                    p 22 сум
                                .main__offer-side__box
                                    a(href="#") Kapital bank
                                    p 22 сум
                                .main__offer-side__box
                                    a(href="#") Kapital bank
                                    p 22 сум
                                .main__offer-side__box
                                    a(href="#") Kapital bank
                                    p 22 сум
                                .main__offer-side__box
                                    a(href="#") Kapital bank
                                    p 22 сум
                                .main__offer-side__box
                                    a(href="#") Kapital bank
                                    p 22 сум
                                .main__offer-side__box
                                    a(href="#") Kapital bank
                                    p 22 сум
                        .main__offer-con(slide-number="5")
                            .main__offer-side
                                .main__offer-side__title Покупка
                                hr
                                .main__offer-side__box
                                    a(href="#") Kapital bank
                                    p 22 сум
                                .main__offer-side__box
                                    a(href="#") Kapital bank
                                    p 22 сум
                                .main__offer-side__box
                                    a(href="#") Kapital bank
                                    p 22 сум
                                .main__offer-side__box
                                    a(href="#") Kapital bank
                                    p 22 сум
                                .main__offer-side__box
                                    a(href="#") Kapital bank
                                    p 22 сум
                                .main__offer-side__box
                                    a(href="#") Kapital bank
                                    p 22 сум
                                .main__offer-side__box
                                    a(href="#") Kapital bank
                                    p 22 сум
                                .main__offer-side__box
                                    a(href="#") Kapital bank
                                    p 22 сум
                                .main__offer-side__box
                                    a(href="#") Kapital bank
                                    p 22 сум
                            .main__offer-side
                                .main__offer-side__title Продажа
                                hr
                                .main__offer-side__box
                                    a(href="#") Kapital bank
                                    p 22 сум
                                .main__offer-side__box
                                    a(href="#") Kapital bank
                                    p 22 сум
                                .main__offer-side__box
                                    a(href="#") Kapital bank
                                    p 22 сум
                                .main__offer-side__box
                                    a(href="#") Kapital bank
                                    p 22 сум
                                .main__offer-side__box
                                    a(href="#") Kapital bank
                                    p 22 сум
                                .main__offer-side__box
                                    a(href="#") Kapital bank
                                    p 22 сум
                                .main__offer-side__box
                                    a(href="#") Kapital bank
                                    p 22 сум
                                .main__offer-side__box
                                    a(href="#") Kapital bank
                                    p 22 сум
                                .main__offer-side__box
                                    a(href="#") Kapital bank
                                    p 22 сум
                .main-left__ad
                    p ad
                .main-news
                    h2.main-news__title Новости
                    hr
                    .main-news__box
                        a(href="#").main-news__box-title Вы должны получить денежный перевод от ваших близких в Европе?
                        .main-news__box-info
                            p Hamkorbank
                            p 10.12.2022
                    .main-news__box
                        a(href="#").main-news__box-title Вы должны получить денежный перевод от ваших близких в Европе?
                        .main-news__box-info
                            p Hamkorbank
                            p 10.12.2022
                    .main-news__box
                        a(href="#").main-news__box-title Вы должны получить денежный перевод от ваших близких в Европе?
                        .main-news__box-info
                            p Hamkorbank
                            p 10.12.2022
                    .main-news__box
                        a(href="#").main-news__box-title Вы должны получить денежный перевод от ваших близких в Европе?
                        .main-news__box-info
                            p Hamkorbank
                            p 10.12.2022
                    .main-news__box
                        a(href="#").main-news__box-title Вы должны получить денежный перевод от ваших близких в Европе?
                        .main-news__box-info
                            p Hamkorbank
                            p 10.12.2022
            .main-right
                .main-right__ad
                    p ad
                .main__convert-con
                    h2.main__convert-con__title Конвертор
                    .convert_block_item
                        input(type="number" placeholder="введите сумму...")#val
                        select#cur1
                            option USD
                            option EUR
                            option RUB
                            option UZS
                    .arrow-down 
                        img(src="@img/arrow-down.svg", alt="")
                    .convert_block_item
                        .result__con
                            p.convert_result 0
                        select#cur2
                            option USD
                            option EUR
                            option RUB
                            option UZS
