mixin main()
    main.main#main
        .container.main-con
            .main__left

            .main__right
                .main__convert-con
                    h2.main__convert-con__title Конвертор
                    .convert_block_item
                        input(type="number" placeholder="введите сумму...")#val
                        select#cur1
                            option USD
                            option EUR
                            option RUB
                            option UZS
                    .convert_block_item
                        .result__con
                            p.convert_result 0
                        select#cur2
                            option USD
                            option EUR
                            option RUB
                            option UZS
