mixin main()
    main.main#main
        .container.main-con
            .main-left
                .main__offer
                    h1.main__offer-title Лучшие курсы обмена валют в обменных пунктах
                    .main__offer-btn
                        ul
                            li
                                //- berilgan slide number keraklik slideni chaqiradi
                                a(slide-number="1").active UZS
                            li
                                a(slide-number="2") RUB
                            li
                                a(slide-number="3") USD
                            li
                                a(slide-number="4") KZT
                            li
                                a(slide-number="5") GBP
                    .main__offer-con__padding
                        .main__offer-con.active(slide-number="1")
                            .main__offer-side
                                .main__offer-side__title Покупка
                                hr
                                .main__offer-side__box
                                    a(href="#") Kapital bank
                                    p 22 сум
                                .main__offer-side__box
                                    a(href="#") Kapital bank
                                    p 22 сум
                                .main__offer-side__box
                                    a(href="#") Kapital bank
                                    p 22 сум
                                .main__offer-side__box
                                    a(href="#") Kapital bank
                                    p 22 сум
                                .main__offer-side__box
                                    a(href="#") Kapital bank
                                    p 22 сум
                                .main__offer-side__box
                                    a(href="#") Kapital bank
                                    p 22 сум
                                .main__offer-side__box
                                    a(href="#") Kapital bank
                                    p 22 сум
                                .main__offer-side__box
                                    a(href="#") Kapital bank
                                    p 22 сум
                                .main__offer-side__box
                                    a(href="#") Kapital bank
                                    p 22 сум
                            .main__offer-side
                                .main__offer-side__title Продажа
                                hr
                                .main__offer-side__box
                                    a(href="#") Kapital bank
                                    p 22 сум
                                .main__offer-side__box
                                    a(href="#") Kapital bank
                                    p 22 сум
                                .main__offer-side__box
                                    a(href="#") Kapital bank
                                    p 22 сум
                                .main__offer-side__box
                                    a(href="#") Kapital bank
                                    p 22 сум
                                .main__offer-side__box
                                    a(href="#") Kapital bank
                                    p 22 сум
                                .main__offer-side__box
                                    a(href="#") Kapital bank
                                    p 22 сум
                                .main__offer-side__box
                                    a(href="#") Kapital bank
                                    p 22 сум
                                .main__offer-side__box
                                    a(href="#") Kapital bank
                                    p 22 сум
                                .main__offer-side__box
                                    a(href="#") Kapital bank
                                    p 22 сум
                        .main__offer-con(slide-number="2")
                            .main__offer-side
                                .main__offer-side__title Покупка
                                hr
                                .main__offer-side__box
                                    a(href="#") Kapital bank
                                    p 22 сум
                                .main__offer-side__box
                                    a(href="#") Kapital bank
                                    p 22 сум
                                .main__offer-side__box
                                    a(href="#") Kapital bank
                                    p 22 сум
                                .main__offer-side__box
                                    a(href="#") Kapital bank
                                    p 22 сум
                                .main__offer-side__box
                                    a(href="#") Kapital bank
                                    p 22 сум
                                .main__offer-side__box
                                    a(href="#") Kapital bank
                                    p 22 сум
                                .main__offer-side__box
                                    a(href="#") Kapital bank
                                    p 22 сум
                                .main__offer-side__box
                                    a(href="#") Kapital bank
                                    p 22 сум
                                .main__offer-side__box
                                    a(href="#") Kapital bank
                                    p 22 сум
                            .main__offer-side
                                .main__offer-side__title Продажа
                                hr
                                .main__offer-side__box
                                    a(href="#") Kapital bank
                                    p 22 сум
                                .main__offer-side__box
                                    a(href="#") Kapital bank
                                    p 22 сум
                                .main__offer-side__box
                                    a(href="#") Kapital bank
                                    p 22 сум
                                .main__offer-side__box
                                    a(href="#") Kapital bank
                                    p 22 сум
                                .main__offer-side__box
                                    a(href="#") Kapital bank
                                    p 22 сум
                                .main__offer-side__box
                                    a(href="#") Kapital bank
                                    p 22 сум
                                .main__offer-side__box
                                    a(href="#") Kapital bank
                                    p 22 сум
                                .main__offer-side__box
                                    a(href="#") Kapital bank
                                    p 22 сум
                                .main__offer-side__box
                                    a(href="#") Kapital bank
                                    p 22 сум
                        .main__offer-con(slide-number="3")
                            .main__offer-side
                                .main__offer-side__title Покупка
                                hr
                                .main__offer-side__box
                                    a(href="#") Kapital bank
                                    p 22 сум
                                .main__offer-side__box
                                    a(href="#") Kapital bank
                                    p 22 сум
                                .main__offer-side__box
                                    a(href="#") Kapital bank
                                    p 22 сум
                                .main__offer-side__box
                                    a(href="#") Kapital bank
                                    p 22 сум
                                .main__offer-side__box
                                    a(href="#") Kapital bank
                                    p 22 сум
                                .main__offer-side__box
                                    a(href="#") Kapital bank
                                    p 22 сум
                                .main__offer-side__box
                                    a(href="#") Kapital bank
                                    p 22 сум
                                .main__offer-side__box
                                    a(href="#") Kapital bank
                                    p 22 сум
                                .main__offer-side__box
                                    a(href="#") Kapital bank
                                    p 22 сум
                            .main__offer-side
                                .main__offer-side__title Продажа
                                hr
                                .main__offer-side__box
                                    a(href="#") Kapital bank
                                    p 22 сум
                                .main__offer-side__box
                                    a(href="#") Kapital bank
                                    p 22 сум
                                .main__offer-side__box
                                    a(href="#") Kapital bank
                                    p 22 сум
                                .main__offer-side__box
                                    a(href="#") Kapital bank
                                    p 22 сум
                                .main__offer-side__box
                                    a(href="#") Kapital bank
                                    p 22 сум
                                .main__offer-side__box
                                    a(href="#") Kapital bank
                                    p 22 сум
                                .main__offer-side__box
                                    a(href="#") Kapital bank
                                    p 22 сум
                                .main__offer-side__box
                                    a(href="#") Kapital bank
                                    p 22 сум
                                .main__offer-side__box
                                    a(href="#") Kapital bank
                                    p 22 сум
                        .main__offer-con(slide-number="4")
                            .main__offer-side
                                .main__offer-side__title Покупка
                                hr
                                .main__offer-side__box
                                    a(href="#") Kapital bank
                                    p 22 сум
                                .main__offer-side__box
                                    a(href="#") Kapital bank
                                    p 22 сум
                                .main__offer-side__box
                                    a(href="#") Kapital bank
                                    p 22 сум
                                .main__offer-side__box
                                    a(href="#") Kapital bank
                                    p 22 сум
                                .main__offer-side__box
                                    a(href="#") Kapital bank
                                    p 22 сум
                                .main__offer-side__box
                                    a(href="#") Kapital bank
                                    p 22 сум
                                .main__offer-side__box
                                    a(href="#") Kapital bank
                                    p 22 сум
                                .main__offer-side__box
                                    a(href="#") Kapital bank
                                    p 22 сум
                                .main__offer-side__box
                                    a(href="#") Kapital bank
                                    p 22 сум
                            .main__offer-side
                                .main__offer-side__title Продажа
                                hr
                                .main__offer-side__box
                                    a(href="#") Kapital bank
                                    p 22 сум
                                .main__offer-side__box
                                    a(href="#") Kapital bank
                                    p 22 сум
                                .main__offer-side__box
                                    a(href="#") Kapital bank
                                    p 22 сум
                                .main__offer-side__box
                                    a(href="#") Kapital bank
                                    p 22 сум
                                .main__offer-side__box
                                    a(href="#") Kapital bank
                                    p 22 сум
                                .main__offer-side__box
                                    a(href="#") Kapital bank
                                    p 22 сум
                                .main__offer-side__box
                                    a(href="#") Kapital bank
                                    p 22 сум
                                .main__offer-side__box
                                    a(href="#") Kapital bank
                                    p 22 сум
                                .main__offer-side__box
                                    a(href="#") Kapital bank
                                    p 22 сум
                        .main__offer-con(slide-number="5")
                            .main__offer-side
                                .main__offer-side__title Покупка
                                hr
                                .main__offer-side__box
                                    a(href="#") Kapital bank
                                    p 22 сум
                                .main__offer-side__box
                                    a(href="#") Kapital bank
                                    p 22 сум
                                .main__offer-side__box
                                    a(href="#") Kapital bank
                                    p 22 сум
                                .main__offer-side__box
                                    a(href="#") Kapital bank
                                    p 22 сум
                                .main__offer-side__box
                                    a(href="#") Kapital bank
                                    p 22 сум
                                .main__offer-side__box
                                    a(href="#") Kapital bank
                                    p 22 сум
                                .main__offer-side__box
                                    a(href="#") Kapital bank
                                    p 22 сум
                                .main__offer-side__box
                                    a(href="#") Kapital bank
                                    p 22 сум
                                .main__offer-side__box
                                    a(href="#") Kapital bank
                                    p 22 сум
                            .main__offer-side
                                .main__offer-side__title Продажа
                                hr
                                .main__offer-side__box
                                    a(href="#") Kapital bank
                                    p 22 сум
                                .main__offer-side__box
                                    a(href="#") Kapital bank
                                    p 22 сум
                                .main__offer-side__box
                                    a(href="#") Kapital bank
                                    p 22 сум
                                .main__offer-side__box
                                    a(href="#") Kapital bank
                                    p 22 сум
                                .main__offer-side__box
                                    a(href="#") Kapital bank
                                    p 22 сум
                                .main__offer-side__box
                                    a(href="#") Kapital bank
                                    p 22 сум
                                .main__offer-side__box
                                    a(href="#") Kapital bank
                                    p 22 сум
                                .main__offer-side__box
                                    a(href="#") Kapital bank
                                    p 22 сум
                                .main__offer-side__box
                                    a(href="#") Kapital bank
                                    p 22 сум
                        
            .main-right
                .main-right__ad
                    p ad
                .main__convert-con
                    h2.main__convert-con__title Конвертор
                    .convert_block_item
                        input(type="number" placeholder="введите сумму...")#val
                        select#cur1
                            option USD
                            option EUR
                            option RUB
                            option UZS
                    .arrow-down 
                        img(src="@img/arrow-down.svg", alt="")
                    .convert_block_item
                        .result__con
                            p.convert_result 0
                        select#cur2
                            option USD
                            option EUR
                            option RUB
                            option UZS
