mixin menu()
    .menu#menu
        .container.menu__con
            ul.menu__ul
                li.menu__li
                    a(href="#") Курсы валют
                li.menu__li
                    a(href="#") Курсы валют
                li.menu__li
                    a(href="#") Курсы валют
                li.menu__li
                    a(href="#") Курсы валют
                li.menu__li
                    a(href="#") Курсы валют
                li.menu__li
                    a(href="#") Курсы валют
                li.menu__li
                    a(href="#") Курсы валют
            .locations-rate
                .locations-rate__box